@theme {

  /* Typography */

  --font-sans:
    Inter,
    system-ui,
    sans-serif;

  --text-display:
    4rem;

  --text-heading:
    2.25rem;

  --text-title:
    1.5rem;

  --text-body:
    1rem;

  --text-small:
    0.875rem;

}
